.mainlayout-trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.mainlayout-trigger:hover {
    color: #1890ff;
}
  
.mainlayout-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px 20px;
}