.employee-info-card-header{
    height: 150px;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 780px) {
    .employee-info-card-header{
        flex-wrap: wrap;
        height: auto;
    }
}